<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../scss/style.min.css">
    <title>Heroes.</title>
</head>
<body class="bg-black parallaxHeroes">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-50">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="../index.html">Biografia</a>
          <button class="navbar-toggler bg-light bg-opacity-25" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="./OyasumiPunpun.html">Oyasumi Punpun</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./Solanin.html">Solanin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./DeadDemons.html">Dead Dead Demons DeDeDeDe Destruction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./Heroes.html">Heroes.</a>
              </li>
            </ul>
            <span class="navbar-text text-white-50">
              Mangas imposibles de olvidar.
            </span>
          </div>
        </div>
      </nav>
      <h1 class="display-2 text-center text-white"> Heroes. </h1>
      <div class="section">
          <div class="box">
                <img src="../assets/img/CoverHeroes.jpg" class="d-block mx-auto" width="500px" alt="...">
              <div class="hover"> 
                  <h3>Tomo unico.</h3>
              </div>
            </div>
        </div>
       
     
      <div class="d-flex p-2 bg-secondary bg-opacity-75"><h5>Heroes:</h5></div>

      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item bg-secondary">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Sinopsis de Heroes
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body bg-black">
              <strong class="text-white">¿De que trata Heroes?</strong> <p class="text-white">La historia nos narra las aventuras de unos héroes de lo más variopintos: una niña, una cucaracha parlante, un gato monta- do en una nave nodriza, un panda en bikini... y muchos más! Su deber es derrotar a Tenebroso y emprender el camino de vuel- ta a casa, pero... parece que por más que lo derroten, la historia vuelve a repetirse! Una comedia épica al más puro estilo Asano en la que se mofa del estereotipo manga de aventuras y toca varios temas como la discriminación, la hipocresía y el odio con una clara intención satírica.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Opinion personal:
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body bg-black">
              <strong class="text-white">Mi opinion personal es:</strong> <p class="text-white">La historia nos narra las aventuras de unos héroes de lo más variopintos: una niña, una cucaracha parlante, un gato montado en una nave nodriza, un panda en bikini… ¡y muchos más! Su deber es derrotar a Tenebroso y emprender el camino de vuelta a casa, pero… ¡parece que por más que lo derroten, la historia vuelve a repetirse! Una comedia épica al más puro estilo Asano en la que se mofa del estereotipo manga de aventuras y toca varios temas como la discriminación, la hipocresía y el odio con una clara intención satírica.</p> 
            </div>
          </div>
        </div>
        <div class="accordion-item bg-secondary">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          </div>
        </div>
      </div>

      <div class="form-floating">
        <textarea class="form-control bg-secondary bg-opacity-50" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">
           <strong> Que te parecio el manga?</strong> 
        </label>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3 bg-secondary">Enviar</button>
          </div>
        </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<footer> © Cualquier consulta a mi mail: ian01gallard@gmail.com</footer>
</html>