<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../scss/style.min.css">
    <title>Oyasumi Punpun</title>
</head>
<body class="bg-black parallaxPunpun">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-50">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="../index.html">Biografia</a>
          <button class="navbar-toggler bg-light bg-opacity-25" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="./OyasumiPunpun.html">Oyasumi Punpun</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./Solanin.html">Solanin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./DeadDemons.html">Dead Dead Demons DeDeDeDe Destruction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./Heroes.html">Heroes.</a>
              </li>
            </ul>
            <span class="navbar-text text-white-50">
              Mangas imposibles de olvidar.
            </span>
          </div>
        </div>
      </nav>
      <h1 class="display-2 text-center text-white"> Buenas noches Punpun </h1>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img/CoverOyasumiPunpun1.jpg" width="500px" class="d-block mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/CoverOyasumiPunpun2.jpg" width="500px" class="d-block mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/CoverOyasumiPunpun3.jpg" width="500px" class="d-block mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/CoverOyasumiPunpun4.jpg" width="500px" class="d-block mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/CoverOyasumiPunpun5.jpg" width="500px" class="d-block mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/CoverOyasumiPunpun6.jpg" width="500px" class="d-block mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/CoverOyasumiPunpun7.jpg" width="500px" class="d-block mx-auto" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="d-flex p-2 bg-secondary bg-opacity-75"><h5>Oyasumi Punpun:</h5></div>

      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item bg-secondary">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Sinopsis de Oyasumi Punpun
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body bg-black">
              <strong class="text-white">¿De que trata Oyasumi Punpun?</strong> <p class="text-white">Oyasumi Punpun (おやすみ プンプン lit. Buenas noches, Punpun) es un manga japonés escrito e ilustrado por Inio Asano. La historia sigue a Onodera Punpun, un niño normal que debe hacer frente a sus amigos y familia disfuncional, su interés amoroso, su adolescencia en sentido contrario y su mente hiperactiva. Punpun es un niño que se ve a sí mismo y a toda su familia como un pájaro de caricatura mal dibujado, quien contrasta enormemente con sus amigos con el mundo en general, pues a parte de este y su familia, todo lo demás está increíblemente detallado, cada expresión de los personajes, cada mirada y cada encuadre es poderoso y te hace sentir que realmente son seres con sentimientos y no solo dibujos en papel.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Opinion personal:
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body bg-black">
              <strong class="text-white">Mi opinion personal es:</strong> <p class="text-white">'Oyasumi Punpun' es uno de esos manga que no debes juzgar por su portada, porque entonces lo dejarás donde lo has encontrado, te darás media vuelta y seguramente acabes llevándote algún Shonen de esos que luego alargan hasta más no poder. Y todo porque su portada era mejor.
                El manga de Inio Asano es puro arte. Desde la trama argumental hasta todas y cada una de las viñetas que componen los trece tomos de esta impresionante colección. Hacemos referencia a 'Oyasumi Punpun' como un manga novedoso, próximo y totalmente envolvente, Punpun tiende una mano al lector para entrar en su mundo y vivir su día a día, para hacerle conocedor de sus dudas, de sus inquietudes y sus logros a lo largo de esta etapa que compone su vida (entrada a la adolescencia hasta los veinte años). Pero tampoco quiero engañaros, probablemente este sea el manga más dramático que haya leído hasta el momento, no se equipara a los momentos duros en 'Bokurano' ni a ese final que nos da una lección a todos de 'Onani Master Kurosawa'</p> 
            </div>
          </div>
        </div>
        <div class="accordion-item bg-secondary">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          </div>
        </div>
      </div>

      <div class="form-floating">
        <textarea class="form-control bg-secondary bg-opacity-50" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">
           <strong> Que te parecio el manga?</strong> 
        </label>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3 bg-secondary">Enviar</button>
          </div>
        </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<footer> © Cualquier consulta a mi mail: ian01gallard@gmail.com</footer>
</html>