.parallax {
    background-image: url("../assets/img/BackgroundHome.jpg");
}

.parallaxPunpun {
    background-image: url("../assets/img/Background5.png");
    background-repeat: $b-repeat;
    background-size: $b-size;
    background-position: $b-position;
    background-attachment: $b-attachment;
}

.parallaxHeroes {
    background-image: url("../assets/img/Background1.png");
    background-repeat: $b-repeat;
    background-size: $b-size;
    background-position: $b-position;
    background-attachment: $b-attachment;
}

.parallaxDead {
    background-image: url("../assets/img/Background7.jpg");
    background-repeat: $b-repeat;
    background-size: $b-size;
    background-position: $b-position;
    background-attachment: $b-attachment;
}

.parallaxSolanin {
    background-image: url("../assets/img/Background3.png");
    background-repeat: space;
    background-size: auto;
    background-position: auto;
    background-attachment: local;
}
